body {
    font-size: 14px;
    font-family: 'Roboto', Tahoma;
    background-color: $bg;
    color: $gray-100;
    font-weight: 400;
    line-height: 1.57;
}

.container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    height: 100%;
    flex-direction: column;
    display: flex;
}

.content {
    flex-grow: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}