.int {
    transition: all 0.3s;

    &:focus {
        border-radius: 10px;
        outline: 2px solid $mainColor;
        outline-offset: 5px;
    }

    &:active {
        opacity: 0.7;
    }
}

.title {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4;
    color: $black-900;
    transition: color 0.3s;

    @include hl {
        font-size: 18px;
    }
}

.lock {
    overflow: hidden;

    &::after,
    &::before {
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
}

.btn {
    padding: 11px 32px;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    line-height: 1.3;
    background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
    border: 1px solid $mainColor;
    position: relative;

    &:focus {
        border-radius: 30px;
    }

    &:hover {
        box-shadow: 0px 0px 6px 3px #5ddf5a;
    }

    &--transparent {
        background: transparent;
        color: $mainColor;
        padding: 11px 22px;
    }

    @include m($md) {
        padding: 11px 13px;
    }
}