<footer class="footer">
    <h2 class="sr-only">
        further information
    </h2>
    <div class="container">
        <a class="footer__logo logo int" href="#">
            Company Name
        </a>
        <div class="footer__content">
            <nav class="footer__nav nav-footer">
                <div class="nav-footer__links">
                    <h3 class="footer__title">
                        company
                    </h3>
                    <ul class="nav-footer__list">
                        <li class="nav-footer__item">
                            <a class="nav-footer__link" href="#">
                                About Us
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link" href="#">
                                Our Team
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Careers
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Press
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                In the Media
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                VPN Reviews
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Companies We Support
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Blog
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="nav-footer__links">
                    <h3 class="footer__title">
                        programs
                    </h3>
                    <ul class="nav-footer__list">
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Whitehat Security
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Affiliates
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-footer__links">
                    <h3 class="footer__title">
                        learn more
                    </h3>
                    <ul class="nav-footer__list">
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                VPN Encryption
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Android VPN App
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                iOS VPN App
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                PIA Sitemap
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-footer__links">
                    <h3 class="footer__title">
                        legal
                    </h3>
                    <ul class="nav-footer__list">
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Terms Of Service
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                DMCA Policy
                            </a>
                        </li>
                        <li class="nav-footer__item">
                            <a class="nav-footer__link int" href="#">
                                Export Control Policy
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="footer__info">
                <h3 class="footer__title">
                    about
                </h3>
                <div class="footer__text">
                    <p>
                        Private Internet Access is the leading VPN Service provider specializing in secure, encrypted
                        VPN
                        tunnels which create
                        several layers of privacy and security providing you safety on the internet. Our service is
                        backed
                        by multiple gateways
                        worldwide with access in 28+ countries, 44+ regions.
                    </p>
                    <p>
                        Map data provided by Google.

                    </p>
                    <p>
                        PC Mag Editor’s Choice award image reprinted with permission. © 2012 Ziff Davis, Inc. All Rights
                        Reserved.
                        PC Mag quote reprinted from www.pcmag.com with permission. © 2012 Ziff Davis, Inc. All Rights
                        Reserved.
                    </p>
                    <p>
                        © London Trust Media, Inc. All Rights Reserved.

                    </p>
                </div>
                <div data-da=".nav-footer,560,5" class="footer__social">
                    <h3 class="footer__title">
                        social
                    </h3>
                    <ul class="footer__social-list">
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="#">
                                <span class="sr-only">
                                    go to facebook
                                </span>
                                <svg width="14" height="28">
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="#">
                                <span class="sr-only">
                                    go to twitter
                                </span>
                                <svg width="28" height="23">
                                    <use xlink:href="images/sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="#">
                                <span class="sr-only">
                                    go to google +
                                </span>
                                <svg width="34" height="22">
                                    <use xlink:href="images/sprite.svg#google"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="#">
                                <span class="sr-only">
                                    go to linkedin
                                </span>
                                <svg width="28" height="28">
                                    <use xlink:href="images/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="#">
                                <span class="sr-only">
                                    go to reddit
                                </span>
                                <svg width="30" height="30">
                                    <use xlink:href="images/sprite.svg#reddit"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link" href="#">
                                <span class="sr-only">
                                    go to youtube
                                </span>
                                <svg width="41" height="29">
                                    <use xlink:href="images/sprite.svg#youtube"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>