<header class="header">
    <div class="warning">
        <div class="warning__body">
            <div class="warning__wrapper">
                <div class="warning__box">
                    <p class="warning__notification">
                        You are not protected
                    </p>
                </div>
                <div class="warning__wrap">
                    <span class="warning__ip">
                        Your IP Address:
                        <span class="warning__ip-date"> 107.3.176.194 </span>
                    </span>
                    <span class="warning__isp">
                        Your ISP: Comcast Cable
                    </span>
                </div>
                <a data-da=".warning__box,768,1" class="warning__link int" href="#">
                    Learn More ›
                </a>
            </div>
            <button class="warning__close int" type="button">
                <span class="sr-only">
                    close warning
                </span>
                <svg width="24" height="24">
                    <use xlink:href="images/sprite.svg#close"></use>
                </svg>
            </button>
        </div>
    </div>

    <div class="header__wrapper">
        <button class="header__burger" type="button">
            <span class="header__burger-line"></span>
            <span class="sr-only">
                tap to open the mobile menu
            </span>
        </button>
        <a class="header__logo logo int" href="#">
            Company Name
        </a>
        <nav class="header__menu menu">
            <ul class="menu__list" data-spollers="992,max">
                <li class="menu__item">
                    <a class="menu__link menu__link--submenu int" href="#">
                        why us
                    </a>
                    <button class="menu__open" tabindex="-1" data-spoller type="button">
                        <svg width="10" height="5">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <ul class="menu__sublist">
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N1
                            </a>
                        </li>
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N2
                            </a>
                        </li>
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N3
                            </a>
                        </li>
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N4
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link int" href="#">
                        vpn apps
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link  menu__link--submenu int" href="#">
                        support
                    </a>

                    <button class="menu__open" tabindex="-1" data-spoller type="button">
                        <svg width="10" height="5">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <ul class="menu__sublist">
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N1
                            </a>
                        </li>
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N2
                            </a>
                        </li>
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N3
                            </a>
                        </li>
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N4
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link  menu__link--submenu int" href="#">
                        resources
                    </a>

                    <button class="menu__open" tabindex="-1" data-spoller type="button">
                        <svg width="10" height="5">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <ul class="menu__sublist">
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N1
                            </a>
                        </li>
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N2
                            </a>
                        </li>
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N3
                            </a>
                        </li>
                        <li class="menu__subitem">
                            <a class="menu__sublink int" href="#">
                                Item N4
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header__box">
            <button data-da=".menu,560,5" class="header__btn btn btn--transparent int" type="button">
                log in
            </button>
            <a class="header__link btn int" href="#">
                get started
            </a>
        </div>
    </div>
</header>